<html>
    <head>
        {% include "header.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <br>
        <div class="container">
            <div class="row">
                <h2>Detailed View - {{ glist.name }}</h2>
            </div>
            <div class="row">
                <div class="col">
                    <form id="itemForm" name="itemForm" onsubmit="AddItem(); return false;">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input id="quantity" class="form-control" name="quantity">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" class="form-control" name="price">
                        </div>
                        <input class="btn btn-primary" type="submit" name="Submit" value="Add Item">
                    </form>
                </div>
                <div class="col">
                    <form id="personForm" name="personForm" onsubmit="AddPerson(); return false;">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <select id="name-select" class="form-control" name="name"></select>
                        </div>
                        <input class="btn btn-primary" type="submit" name="Submit" value="Add Person">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cost</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="personData">
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                        <h2>Your Items in this List</h2>
                </div>
            </div>
            <div class="row">
                <table id="itemTable" class="table">
                    <thead id="itemHead">
                    </thead>
                    <tbody id="itemBody">
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function(){
            PopulatePeopleSelector();
            UpdateAll();
            $('#name-select').select2();
        });
        
        function UpdateAll() {
            UpdateCosts()
            UpdateItems()
        }

        $(function () {
            updatePersonToItem = function(elm) {
                if($(elm).prop("checked") == true){
                    var personID = $(elm).attr("data-person");
                    var itemID = $(elm).attr("data-item");
                    $.ajax({
                        type: "POST",
                        url: "/glist/{{ glist.id }}/" + itemID + "/" + personID + "/add",
                        data: {csrfmiddlewaretoken: getCookie("csrftoken")},
                        dataType: "json",
                        success: function(data){
                            console.log("Added person to item")
                            $("#itemTable :input").prop("disabled", true);
                            UpdateCosts()
                        }
                    });
                } else {
                    var personID = $(elm).attr("data-person");
                    var itemID = $(elm).attr("data-item");
                    $.ajax({
                        type: "POST",
                        url: "/glist/{{ glist.id }}/" + itemID + "/" + personID + "/rem",
                        data: {csrfmiddlewaretoken: getCookie("csrftoken")},
                        dataType: "json",
                        success: function(data){
                            console.log("removed person from item")
                            $("#itemTable :input").prop("disabled", true);
                            UpdateCosts()
                        }
                    });
                }
            }
        });

        function AddItem(){
            var formData = $("#itemForm").serializeArray();
            $.ajax({
               type: "POST",
               url: "/glist/{{ glist.id }}/items",
               data: {
                   csrfmiddlewaretoken: getCookie("csrftoken"),
                   name: formData[0].value,
                   quantity: formData[1].value,
                   price: formData[2].value
               },
               dataType: "json",
               success: function(data){
                   console.log("added item")
                   UpdateAll()
               },
               error: function(e){
                   console.log(e);
               }
            });
        }

        function DeleteItem(item_id){
            $.ajax({
               type: "DELETE",
               url: "/glist/{{ glist.id }}/item/" + item_id,
               headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
               data: {
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               },
               dataType: "json",
               success: function(data){
                   console.log("removed item")
                   UpdateAll()
               },
               error: function(e){
                   console.log(e);
               }
            });
        }

        function AddPerson(){
            //formData = $("#personForm").serializeArray();
            var selected_user = $("#name-select option:selected").val();
            console.log(selected_user);

            $.ajax({
                type: "POST",
                url: "/glist/{{ glist.id }}/persons",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    user: selected_user
                },
                dataType: "json",
                success: function(data){
                    console.log("added person")
                    UpdateAll()
                },
                error: function(e){
                    console.log(e)
                }
            })
        }

        function DeletePerson(id){
            $.ajax({
                type: "DELETE",
                url: "/glist/{{ glist.id }}/person/" + id,
                headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken')
                },
                dataType: "json",
                success: function(data){
                    console.log("removed person")
                    UpdateAll()
                },
                error: function(e){
                    console.log(e)
                }
            })
        }

        function UpdateCosts(){
            $.ajax({
                type: "GET",
                url: "/glist/{{ glist.id }}/calculate",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                },
                dataType: "json",
                beforeSend: function() {
                    $('#loader').show();
                },
                success: function(data){
                    if (data['error']) {
                        console.log(data['error'])
                    } else {
                        console.log("costs updated")
                        UpdatePeople()
                    }
                     
                }
            })
        }



        function UpdatePeople(){
            $.ajax({
                type: "GET",
                url: "/glist/{{ glist.id }}/persons",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                },
                dataType: "json",
                success: function(data){
                    var table_data = ""
                    $.each(data, function(k, v){
                        table_data += "<tr>"
                        table_data += "<td>" + v.name + "</td>"
                        table_data += "<td>$" + (v.cost).toFixed(2) + "</td>"
                        table_data += "<td><button onclick='DeletePerson(" + k + ")' class='btn btn-danger'>Delete</button></td>" 
                        table_data += "</tr>"
                    })
                    $("#personData").html(table_data);
                    console.log("people updated")
                    $("#itemTable :input").prop("disabled", false);
                },
                error: function(e) {
                    console.log(e)
                }
            })
        }

        function PopulatePeopleSelector(){
            $.ajax({
                type: "GET",
                url: "/users",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken')
                },
                dataType: "json",
                success: function(data) {
                    var search_data = ""
                    $.each(data, function(k, v) {
                        search_data += "<option value=" + k + ">"
                        search_data += v.name
                        search_data += "</option>"
                    })
                    $("#name-select").html(search_data)                
                }
            })
        }

        function UpdateItems(){
            $.ajax({
                type: "GET",
                url: "/glist/{{ glist.id }}/items",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken')
                },
                dataType: "json",
                success: function(data) {
                    var item_data = ""
                    var item_head = ""
                    $.ajax({
                        type: "GET",
                        url: "/glist/{{ glist.id }}/persons",
                        data: {
                            csrfmiddlewaretoken: getCookie('csrftoken')
                        }, 
                        dataType: "json",
                        success: function(person_list) {
                            item_head += "<tr>"
                            item_head += "<th>Delete</th>"
                            item_head += "<th>Name</th>"
                            item_head += "<th>Quantity</th>"
                            item_head += "<th>Price</th>"

                            head_flag = false
                            $.each(data, function(k, v) {
                                item_data += "<tr>"
                                item_data += "<td><button onclick='DeleteItem(" + k + ")' class='btn btn-danger'>Delete</button></td>"
                                item_data += "<td>" + v.name + "</td>"
                                item_data += "<td>" + v.quantity + "</td>"
                                item_data += "<td>" + v.price + "</td>"

                                $.each(person_list, function(person_key, person_value) {
                                    if (v.people.hasOwnProperty(person_key)) {
                                        item_data += "<td><input onclick='updatePersonToItem(this)' class='personToItem' data-person='" + person_key + "' data-item='" + k + "' data-glist='{{ glist.id }}' type='checkbox' name='" + person_value.name + "' checked></td>"
                                    } else {
                                        item_data += "<td><input onclick='updatePersonToItem(this)' class='personToItem' data-person='" + person_key + "' data-item='" + k + "' data-glist='{{ glist.id }}' type='checkbox' name='" + person_value.name + "'></td>"
                                    }
                                    if (!head_flag) {
                                        item_head += "<th>" + person_value.name + "</th>"
                                    }
                                })
                                head_flag = true
                                item_data += "</tr>"
                                
                            })
                            item_head += "</tr>"
                            $("#itemHead").html(item_head)
                            $("#itemBody").html(item_data)
                        }
                    })
                    console.log("items updated")
                }
            })
        }

    </script>
</html>