<html>
    <head>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'hotfix.css' %}" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2>Detailed View - {{ glist.name }}</h2>
            </div>
            <div class="row">
                <div class="col">
                    <form id="itemForm" name="itemForm" onsubmit="AddItem(); return false;">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input id="quantity" class="form-control" name="quantity">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" class="form-control" name="price">
                        </div>
                        <input class="btn btn-primary" type="submit" name="Submit" value="Add Item">
                    </form>
                </div>
                <div class="col">
                    <form id="personForm" name="personForm" onsubmit="AddPerson(); return false;">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" class="form-control" name="name">
                        </div>
                        <input class="btn btn-primary" type="submit" name="Submit" value="Add Person">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for person in person_list %}
                            <tr>
                                <td>{{ person.name }}</td>
                                <td id="cost-{{ person.id }}" class="cost">${{ person.cost|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                        <h2>Your Items in this List</h2>
                </div>
            </div>
            <div class="row">
                <table id="itemTable" class="table">
                    <thead>
                        <tr>
                            <th>Delete</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            {% for person in person_list %}
                                <th>{{ person.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                            {% for item in item_list %}
                            <tr>
                            <td>
                                <form id="deleteItem{{ item.id }}" name="deleteItem" onsubmit="DeleteItem('{{ item.id }}'); return false">
                                    <input type="hidden" name="item" value="{{ item.id }}">
                                    <input class="btn btn-danger" type="submit" name="Submit" value="Delete">
                                </form>
                            </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <form action="">
                            {% for person in person_list %}
                                {% if person in item.people.all %}
                                <td>
                                    <input class="personToItem" data-person="{{ person.id }}" data-item="{{ item.id }}" data-glist="{{ glist.id }}" type="checkbox" name="{{ person.name }}" checked>
                                </td>
                                {% else %}
                                <td class="checkbox">
                                    <input class="personToItem" data-person="{{ person.id }}" data-item="{{ item.id }}" data-glist="{{ glist.id }}" type="checkbox" name="{{ person.name }}">
                                    
                                </td>    
                                {% endif %}
                            {% endfor %}
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function(){
            $('input.personToItem').on('change', function() {
                if($(this).prop("checked") == true){
                    var personID = $(this).attr("data-person");
                    var itemID = $(this).attr("data-item");
                    $.ajax({
                        type: "POST",
                        url: "/glist/{{ glist.id }}/" + itemID + "/" + personID + "/add",
                        data: {csrfmiddlewaretoken: getCookie("csrftoken")},
                        dataType: "json",
                        success: function(data){
                            UpdateCosts()
                        }
                    });
                } else {
                    var personID = $(this).attr("data-person");
                    var itemID = $(this).attr("data-item");
                    $.ajax({
                        type: "POST",
                        url: "/glist/{{ glist.id }}/" + itemID + "/" + personID + "/rem",
                        data: {csrfmiddlewaretoken: getCookie("csrftoken")},
                        dataType: "json",
                        success: function(data){
                            UpdateCosts()
                        }
                    });
                }
            });
        });

        function AddItem(){
            var formData = $("#itemForm").serializeArray();
            $.ajax({
               type: "POST",
               url: "/glist/{{ glist.id }}/items",
               data: {
                   csrfmiddlewaretoken: getCookie("csrftoken"),
                   name: formData[0].value,
                   quantity: formData[1].value,
                   price: formData[2].value
               },
               dataType: "json",
               success: function(data){
                   console.log(data)
                   UpdateCosts()
                   location.reload()
               },
               error: function(e){
                   console.log(e);
               }
            });
        }

        function DeleteItem(item_id){
            var formData = $("#deleteItem" + item_id).serializeArray();
            $.ajax({
               type: "DELETE",
               url: "/glist/{{ glist.id }}/item/" + formData[0].value,
               headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
               data: {
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               },
               dataType: "json",
               success: function(data){
                   console.log(data)
                   UpdateCosts()
                   location.reload()
               },
               error: function(e){
                   console.log(e);
               }
            });
        }

        function AddPerson(){
            formData = $("#personForm").serializeArray();
            $.ajax({
                type: "POST",
                url: "/glist/{{ glist.id }}/persons",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    name: formData[0].value
                },
                dataType: "json",
                success: function(data){
                    console.log(data)
                    location.reload()
                },
                error: function(e){
                    console.log(e)
                }
            })
        }

        function UpdateCosts(){
            $.ajax({
                type: "GET",
                url: "/glist/{{ glist.id }}/calculate",
                data: {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                },
                dataType: "json",
                beforeSend: function() {
                    $('#loader').show();
                },
                success: function(data){
                    if (data['error']) {
                        console.log(data['error'])
                    } else {
                        for(var key in data){
                            $("#cost-"+key).html("$" + data[key].toFixed(2));
                        }
                    }
                     
                }
            })
        }
    </script>
</html>